<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input type="text" label="Username" [(ngModel)]="username"></ion-input>
  <ion-input type="email" label="Email" [(ngModel)]="email"></ion-input>
  <ion-input type="password" label="Password" [(ngModel)]="password"></ion-input>
  <ion-input type="password" label="Confirm Password" [(ngModel)]="passwordConfirm"></ion-input>
  <ion-button (click)="signup()">Sign Up</ion-button>

</ion-content>
