<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>      {{summary.title}}    </ion-title>
      <ion-back-button slot="start">back</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      topic : {{summary.topic}}
    </ion-item>
    <ion-item>
      writer: {{summary.writer}}
    </ion-item>
    <ion-item>
      date: {{summary.date}}
    </ion-item>
    <ion-item *ngIf="!book">      
      summary: {{summary.summary}}
    </ion-item>
    <div *ngIf="book">
      <ion-item *ngFor="let chapter of summary.chapters">
        chapter {{chapter.chapter}}, summary: {{chapter.summary}}
      </ion-item>
    </div>
    
    <br> <br>
    
</ion-content>
