<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>      {{summary.title}}    </ion-title>
      <ion-back-button slot="start">back</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <p>
       writer: {{summary.writer}}
    </p>
    <p>
      topic : {{summary.topic}}
    </p>
    <p>
      date: {{summary.date}}
    </p>
    
    <div *ngIf="!book">
      <img src="{{summary.image}}">
      <p>
        summary: {{summary.summary}}
      </p>    
    </div>

    <div *ngIf="book">
      <div *ngFor="let chapter of summary.chapters">
        <h3>chapter {{chapter.chapter}}</h3>
        <p>summary: {{chapter.summary}}</p>
        <img src="{{chapter.image}}">
      </div>
    </div>
  <br><br>
<!--
  <ion-item>
    <ion-label position="stacked">Rating: {{ summary.rating }}</ion-label>
  </ion-item>
-->
  <ion-item>
    <ion-label position="stacked">Add Comment</ion-label>
    <ion-input [(ngModel)]="newComment" placeholder="Enter your comment"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rate this</ion-label>
    <ion-range [(ngModel)]="newRating" min="1" max="5" step="1" pin="true">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">5</ion-label>
    </ion-range>
  </ion-item>

  <ion-button (click)="addCommentAndRating()">Submit Comment and Rating</ion-button>
    
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/home" fill="clear">
      <ion-icon name="home"></ion-icon>
    </ion-button>
    <ion-button routerLink="/profile" fill="clear">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
