<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile: {{fb.email}}</ion-title>
    <div class="drop-area" #dropZone slot="end" style="margin: 5%;">
      <ion-icon name="trash" size="large"></ion-icon>
    </div>
    <ion-button (click)="fb.signout()" slot="start" fill="clear" color="dark">
      <ion-icon name="log-out" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion>
      <ion-item slot="header">User Posts</ion-item>
      <div class="cards" slot="content">
        <ion-card *ngFor="let summary of userSummaries" routerLink="/detail/{{summary.id}}" #card>
          <ion-card-header>
            <ion-card-title>{{summary.title}}</ion-card-title>
            <ion-card-subtitle>{{summary.type}} summary by {{summary.writer}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            {{summary.topic}}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/home" fill="clear" expand="full">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
